In [212]:
import keras
import warnings
import numpy as np
import pandas as pd
from math import sqrt
from sklearn import metrics
from keras.optimizers import Adam
from sklearn.cluster import KMeans
from keras.models import load_model
from scipy.sparse.linalg import svds
from models import matrix_factorization_utilities
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.layers import Dense, Activation, Flatten ,Embedding, Reshape, concatenate
warnings.filterwarnings('ignore')

###  1. Data Load

In [152]:
# Reading the ratings data
ratings = pd.read_csv('Dataset/ratings.csv')

In [153]:
ratings

         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
...         ...      ...     ...         ...
1048570    7120      168     5.0  1175543061
1048571    7120      253     4.0  1175542225
1048572    7120      260     5.0  1175542035
1048573    7120      261     4.0  1175543376
1048574    7120      266     3.5  1175542454

[1048575 rows x 4 columns]

In [154]:
ratings = ratings[['userId', 'movieId','rating']]

In [155]:
ratings

         userId  movieId  rating
0             1        2     3.5
1             1       29     3.5
2             1       32     3.5
3             1       47     3.5
4             1       50     3.5
...         ...      ...     ...
1048570    7120      168     5.0
1048571    7120      253     4.0
1048572    7120      260     5.0
1048573    7120      261     4.0
1048574    7120      266     3.5

[1048575 rows x 3 columns]

In [156]:
    #reading the movies dataset
    movies = pd.read_csv('Dataset/movies.csv')

In [157]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [158]:
#reading the links dataset
links = pd.read_csv('Dataset/movies.dat',sep='\t', encoding='latin-1')

In [159]:
links

,id,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtAllCriticsRating,rtAllCriticsNumReviews,rtAllCriticsNumFresh,...,rtAllCriticsScore,rtTopCriticsRating,rtTopCriticsNumReviews,rtTopCriticsNumFresh,rtTopCriticsNumRotten,rtTopCriticsScore,rtAudienceRating,rtAudienceNumRatings,rtAudienceScore,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995,toy_story,9,73,73,...,100,8.5,17,17,0,100,3.7,102338,81,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995,1068044-jumanji,5.6,28,13,...,46,5.8,5,2,3,40,3.2,44587,61,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruñones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993,grumpy_old_men,5.9,36,24,...,66,7,6,5,1,83,3.2,10489,66,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,114885,Esperando un respiro,http://ia.media-imdb.com/images/M/MV5BMTczMTMy...,1995,waiting_to_exhale,5.6,25,14,...,56,5.5,11,5,6,45,3.3,5666,79,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,113041,Vuelve el padre de la novia (Ahora también abu...,http://ia.media-imdb.com/images/M/MV5BMTg1NDc2...,1995,father_of_the_bride_part_ii,5.3,19,9,...,47,5.4,5,1,4,20,3,13761,64,http://content8.flixster.com/movie/25/54/25542...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10192,65088,Bedtime Stories,960731,Más allá de los sueños,http://ia.media-imdb.com/images/M/MV5BMjA5Njk5...,2008,bedtime_stories,4.4,104,26,...,25,4.7,26,6,20,23,3.5,108877,63,http://content6.flixster.com/movie/10/94/33/10...
10193,65091,Manhattan Melodrama,25464,El enemigo público número 1,http://ia.media-imdb.com/images/M/MV5BMTUyODE3...,1934,manhattan_melodrama,7,12,10,...,83,0,4,2,2,50,3.7,344,71,http://content9.flixster.com/movie/66/44/64/66...
10194,65126,Choke,1024715,Choke,http://ia.media-imdb.com/images/M/MV5BMTMxMDI4...,2008,choke,5.6,135,73,...,54,4.9,26,8,18,30,3.3,13893,55,http://content6.flixster.com/movie/10/85/09/10...
10195,65130,Revolutionary Road,959337,Revolutionary Road,http://ia.media-imdb.com/images/M/MV5BMTI2MzY2...,2008,revolutionary_road,6.7,194,133,...,68,6.9,36,25,11,69,3.5,46044,70,http://content8.flixster.com/movie/10/88/40/10...
10196,65133,Blackadder Back & Forth,212579,Blackadder Back & Forth,http://ia.media-imdb.com/images/M/MV5BMjA5MjU4...,1999,blackadder-back-forth,0,0,0,...,0,0,0,0,0,0,0,0,0,http://content7.flixster.com/movie/34/10/69/34...

In [160]:
#drop link dataframe
for i in links.columns:
    if i=='id'or i == 'title'or i=='year' or i == 'rtPictureURL':
        continue
    else:
        links.drop(i, inplace=True, axis=1)

In [161]:
links

,id,title,year,rtPictureURL
0,1,Toy story,1995,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,1995,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,1993,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,1995,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,1995,http://content8.flixster.com/movie/25/54/25542...
...,...,...,...,...
10192,65088,Bedtime Stories,2008,http://content6.flixster.com/movie/10/94/33/10...
10193,65091,Manhattan Melodrama,1934,http://content9.flixster.com/movie/66/44/64/66...
10194,65126,Choke,2008,http://content6.flixster.com/movie/10/85/09/10...
10195,65130,Revolutionary Road,2008,http://content8.flixster.com/movie/10/88/40/10...
10196,65133,Blackadder Back & Forth,1999,http://content7.flixster.com/movie/34/10/69/34...

In [162]:
links.columns=['movieId','title_old', 'year', 'rtPictureURL'] # columns rename

In [163]:
links

,movieId,title_old,year,rtPictureURL
0,1,Toy story,1995,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,1995,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,1993,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,1995,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,1995,http://content8.flixster.com/movie/25/54/25542...
...,...,...,...,...
10192,65088,Bedtime Stories,2008,http://content6.flixster.com/movie/10/94/33/10...
10193,65091,Manhattan Melodrama,1934,http://content9.flixster.com/movie/66/44/64/66...
10194,65126,Choke,2008,http://content6.flixster.com/movie/10/85/09/10...
10195,65130,Revolutionary Road,2008,http://content8.flixster.com/movie/10/88/40/10...
10196,65133,Blackadder Back & Forth,1999,http://content7.flixster.com/movie/34/10/69/34...

In [164]:
# title_old and year formating merge and add new columns
links['title']=links.apply(lambda x:'%s (%s)' % (x['title_old'],x['year']),axis=1)

In [165]:
links

,movieId,title_old,year,rtPictureURL,title
0,1,Toy story,1995,http://content7.flixster.com/movie/10/93/63/10...,Toy story (1995)
1,2,Jumanji,1995,http://content8.flixster.com/movie/56/79/73/56...,Jumanji (1995)
2,3,Grumpy Old Men,1993,http://content6.flixster.com/movie/25/60/25602...,Grumpy Old Men (1993)
3,4,Waiting to Exhale,1995,http://content9.flixster.com/movie/10/94/17/10...,Waiting to Exhale (1995)
4,5,Father of the Bride Part II,1995,http://content8.flixster.com/movie/25/54/25542...,Father of the Bride Part II (1995)
...,...,...,...,...,...
10192,65088,Bedtime Stories,2008,http://content6.flixster.com/movie/10/94/33/10...,Bedtime Stories (2008)
10193,65091,Manhattan Melodrama,1934,http://content9.flixster.com/movie/66/44/64/66...,Manhattan Melodrama (1934)
10194,65126,Choke,2008,http://content6.flixster.com/movie/10/85/09/10...,Choke (2008)
10195,65130,Revolutionary Road,2008,http://content8.flixster.com/movie/10/88/40/10...,Revolutionary Road (2008)
10196,65133,Blackadder Back & Forth,1999,http://content7.flixster.com/movie/34/10/69/34...,Blackadder Back & Forth (1999)

In [166]:
# drop old columns
links.drop('title_old', inplace=True, axis=1)
links.drop('year', inplace=True, axis=1)

In [167]:
links

,movieId,rtPictureURL,title
0,1,http://content7.flixster.com/movie/10/93/63/10...,Toy story (1995)
1,2,http://content8.flixster.com/movie/56/79/73/56...,Jumanji (1995)
2,3,http://content6.flixster.com/movie/25/60/25602...,Grumpy Old Men (1993)
3,4,http://content9.flixster.com/movie/10/94/17/10...,Waiting to Exhale (1995)
4,5,http://content8.flixster.com/movie/25/54/25542...,Father of the Bride Part II (1995)
...,...,...,...
10192,65088,http://content6.flixster.com/movie/10/94/33/10...,Bedtime Stories (2008)
10193,65091,http://content9.flixster.com/movie/66/44/64/66...,Manhattan Melodrama (1934)
10194,65126,http://content6.flixster.com/movie/10/85/09/10...,Choke (2008)
10195,65130,http://content8.flixster.com/movie/10/88/40/10...,Revolutionary Road (2008)
10196,65133,http://content7.flixster.com/movie/34/10/69/34...,Blackadder Back & Forth (1999)

In [168]:
#replace columns
links=links[['movieId','title','rtPictureURL']]

In [169]:
links

,movieId,title,rtPictureURL
0,1,Toy story (1995),http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji (1995),http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men (1993),http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale (1995),http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II (1995),http://content8.flixster.com/movie/25/54/25542...
...,...,...,...
10192,65088,Bedtime Stories (2008),http://content6.flixster.com/movie/10/94/33/10...
10193,65091,Manhattan Melodrama (1934),http://content9.flixster.com/movie/66/44/64/66...
10194,65126,Choke (2008),http://content6.flixster.com/movie/10/85/09/10...
10195,65130,Revolutionary Road (2008),http://content8.flixster.com/movie/10/88/40/10...
10196,65133,Blackadder Back & Forth (1999),http://content7.flixster.com/movie/34/10/69/34...

In [170]:
# merge dataframe 
movie_list=pd.merge(movies,links, on='movieId')

In [171]:
# drop column
movie_list.drop('title_y', inplace=True, axis=1)

In [172]:
# rename columns
movie_list.columns=['movieId','title','genres','rtPictureURL']

In [173]:
ratings.userId

0             1
1             1
2             1
3             1
4             1
           ...
1048570    7120
1048571    7120
1048572    7120
1048573    7120
1048574    7120
Name: userId, Length: 1048575, dtype: int64

In [174]:
# convert type category
ratings.userId = ratings.userId.astype('category').cat.codes.values

In [175]:
ratings.userId

0             0
1             0
2             0
3             0
4             0
           ...
1048570    7119
1048571    7119
1048572    7119
1048573    7119
1048574    7119
Name: userId, Length: 1048575, dtype: int16

In [176]:
ratings.userId.max()

7119

In [177]:
ratings.movieId = ratings.movieId.astype('category').cat.codes.values

In [178]:
ratings.movieId

0            1
1           28
2           31
3           46
4           49
          ...
1048570    163
1048571    247
1048572    254
1048573    255
1048574    260
Name: movieId, Length: 1048575, dtype: int16

In [179]:
ratings.movieId.max()

14025

In [180]:
#take 80% as the training set and 20% as the test set
train, test= train_test_split(ratings,test_size=0.2)

In [181]:
train

        userId  movieId  rating
117107     782      628     3.5
48900      366     1280     3.5
574484    3857    13495     2.5
588535    3943      350     4.5
286098    1965     5142     1.0
...        ...      ...     ...
971131    6544     1120     4.5
855154    5724     6277     3.0
217894    1506     8392     0.5
899827    6033     1888     2.0
344848    2334     4951     4.5

[838860 rows x 3 columns]

In [182]:
test

        userId  movieId  rating
200665    1373     1142     5.0
935717    6270     2006     2.0
576467    3867     2354     5.0
73906      520     7773     3.5
367556    2486     2124     3.5
...        ...      ...     ...
876813    5846      294     5.0
233432    1607     1911     3.0
469764    3196     4641     4.0
583545    3906    12234     3.0
273151    1875      158     2.0

[209715 rows x 3 columns]

### 2.Matrix Factorisation Model

#### 2.1. Matrix Factorisation Model Calculate Best n_latent

**Latent features:** At the expense of over-simplication, latent features are 'hidden' features to distinguish them from observed features. Latent features are computed from observed features using matrix factorization. An example would be text document analysis. 'words' extracted from the documents are features.

In [183]:
n_users = ratings.userId.unique().shape[0]
n_items = ratings.movieId.unique().shape[0]
n_users, n_items

(7120, 14026)

In [184]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users, n_items))
    #for every line in the data
for line in train.itertuples():
    #set the value in the column and row to 
    #line[1] is userId, line[2] is movieId and line[3] is rating, line[4] is movie_index and line[5] is user_index
    train_data_matrix[line[1]-1,line[2]-1] = line[3]
train_data_matrix.shape

(7120, 14026)

In [185]:
#Create two user-item matrices, one for training and another for testing
test_data_matrix = np.zeros((n_users, n_items))
    #for every line in the data
for line in test.itertuples():
    #set the value in the column and row to 
    #line[1] is userId, line[2] is movieId and line[3] is rating, line[4] is movie_index and line[5] is user_index
    #print(line[2])
    test_data_matrix[line[1]-1,line[2]-1] = line[3]
test_data_matrix.shape

(7120, 14026)

In [186]:
pd.DataFrame(train_data_matrix).head()

,0,1,2,3,4,5,6,7,8,9,...,14016,14017,14018,14019,14020,14021,14022,14023,14024,14025
0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [187]:
train['rating'].max()

5.0

In [188]:
#Calculate the rmse sscore of SVD using different values of k (latent features)
rmse_list = []
mae_list = []
accuracy=[]
pred_list=[]
a=[1,2,5,10,20]
for i in a:
    #apply svd to the test data
    u,s,vt = svds(train_data_matrix,k=i)
    #get diagonal matrix
    s_diag_matrix=np.diag(s)
    #predict x with dot product of u s_diag and vt
    X_pred = np.dot(np.dot(u,s_diag_matrix),vt)
    pred_list.append(X_pred)
    #calculate rmse score of matrix factorisation predictions
    mse =mean_squared_error(test_data_matrix, X_pred)
    
    rmse_score = sqrt(mse)
    rmse_list.append(round(rmse_score,4))
    mae_score = mean_absolute_error(test_data_matrix,X_pred)
    mae_list.append(round(mae_score,4))

In [189]:
min_value_rmse=min(rmse_list)
min_index_rmse=rmse_list.index(min_value_rmse)
min_value_mae=min(mae_list)
min_index_mae=mae_list.index(min_value_mae)

print("Matrix Factorisation with " + str(a[min_index_rmse]) +" latent features has a RMSE of " + str(min_value_rmse))
print("Matrix Factorisation with " + str(a[min_index_mae]) +" latent features has a MAE of " + str(min_value_mae))

Matrix Factorisation with 1 latent features has a RMSE of 0.1948
Matrix Factorisation with 1 latent features has a MAE of 0.0389

In [190]:
movie_input = keras.layers.Input(shape=[1],name='Item')
movie_embedding = keras.layers.Embedding(14026 + 1, 1, name='Movie-Embedding')(movie_input)
movie_vec = keras.layers.Flatten(name='FlattenMovies')(movie_embedding)
user_input = keras.layers.Input(shape=[1],name='User')
user_vec = keras.layers.Flatten(name='FlattenUsers')(keras.layers.Embedding(7120 + 1, 1,name='User-Embedding')(user_input))
prod = keras.layers.concatenate([movie_vec, user_vec],name='DotProduct')
result = keras.layers.Dense(1, activation='relu',name='Activation')(prod)
adam = Adam(lr=0.005)
model = keras.Model([user_input, movie_input], result)
model.compile(optimizer=adam,loss= 'mean_absolute_error')

```
keras.Input(
    shape=None,
    batch_size=None,
    name=None,
    dtype=None,
    sparse=None,
    tensor=None,
    ragged=None,
    type_spec=None,
    **kwargs
)
```
##### Arguments

* shape: A shape tuple (integers), not including the batch size. For instance, shape=(32,) indicates that the expected input will be batches of 32-dimensional vectors. Elements of this tuple can be None; 'None' elements represent dimensions where the shape is not known.

* batch_size: optional static batch size (integer).

* name: An optional name string for the layer. Should be unique in a model (do not reuse the same name twice). It will be autogenerated if it isn't provided.
 
* dtype: The data type expected by the input, as a string (float32, float64, int32...)

* sparse: A boolean specifying whether the placeholder to be created is sparse. Only one of 'ragged' and 'sparse' can be True. Note that, if sparse is False, sparse tensors can still be passed into the input - they will be densified with a default value of 0.

* tensor: Optional existing tensor to wrap into the Input layer. If set, the layer will use the tf.TypeSpec of this tensor rather than creating a new placeholder tensor.

* ragged: A boolean specifying whether the placeholder to be created is ragged. Only one of 'ragged' and 'sparse' can be True. In this case, values of 'None' in the 'shape' argument represent ragged dimensions. For more information about RaggedTensors, see this guide.

* type_spec: A tf.TypeSpec object to create the input placeholder from. When provided, all other args except name must be None.

* **kwargs: deprecated arguments support. Supports batch_shape and batch_input_shape.

In [191]:
# girdi boyutunu belirler movies
movie_input = keras.layers.Input(shape=[1],name='Item')

```
tf.keras.layers.Embedding(
    input_dim,
    output_dim,
    embeddings_initializer="uniform",
    embeddings_regularizer=None,
    activity_regularizer=None,
    embeddings_constraint=None,
    mask_zero=False,
    input_length=None,
    **kwargs
)
```

#### Arguments

* input_dim: Integer. Size of the vocabulary, i.e. maximum integer index + 1.
* output_dim: Integer. Dimension of the dense embedding.
* embeddings_initializer: Initializer for the embeddings matrix (see keras.initializers).
* embeddings_regularizer: Regularizer function applied to the embeddings matrix (see keras.regularizers).
* embeddings_constraint: Constraint function applied to the embeddings matrix (see keras.constraints).
* mask_zero: Boolean, whether or not the input value 0 is a special "padding" value that should be masked out. This is useful when using recurrent layers which may take variable length input. If this is True, then all subsequent layers in the model need to support masking or an exception will be raised. If mask_zero is set to True, as a consequence, index 0 cannot be used in the vocabulary (input_dim should equal size of vocabulary + 1).
* input_length: Length of input sequences, when it is constant. This argument is required if you are going to connect Flatten then Dense layers upstream (without it, the shape of the dense outputs cannot be computed).

In [192]:
#input_dim = movie index +1
# output_dim = Dimension of the dense embedding.
movie_embedding = keras.layers.Embedding(14026 + 1, 1, name='Movie-Embedding')(movie_input)

```
tf.keras.layers.Flatten(data_format=None, **kwargs)
```

Flattens the input. Does not affect the batch size.

* Note: If inputs are shaped (batch,) without a feature axis, then flattening adds an extra channel dimension and output shape is (batch, 1).

#### Arguments

* data_format: A string, one of channels_last (default) or channels_first. The ordering of the dimensions in the inputs. channels_last corresponds to inputs with shape (batch, ..., channels) while channels_first corresponds to inputs with shape (batch, channels, ...). It defaults to the image_data_format value found in your Keras config file at ~/.keras/keras.json. If you never set it, then it will be "channels_last".

In [193]:
# Reshaping layers
movie_vec = keras.layers.Flatten(name='FlattenMovies')(movie_embedding)

In [194]:
# girdi boyutunu belirler users
user_input = keras.layers.Input(shape=[1],name='User')

Girdi verilerinin tamsayı olarak kodlanmasını gerektirir, böylece her kelime benzersiz bir tamsayı ile temsil edilir. Bu veri hazırlama adımı, Keras ile birlikte sağlanan Tokenizer API kullanılarak gerçekleştirilebilir.

Gömme katmanı rastgele ağırlıklarla başlatılır ve eğitim veri setindeki tüm kelimeler için bir yerleştirme öğrenir.

In [195]:

user_vec = keras.layers.Flatten(name='FlattenUsers')(keras.layers.Embedding(7120 + 1, 1,name='User-Embedding')(user_input))

In [196]:
# merge e embeedding layer input

In [197]:
prod = keras.layers.concatenate([movie_vec, user_vec],name='DotProduct')

```
tf.keras.layers.Dense(
    units,
    activation=None,
    use_bias=True,
    kernel_initializer="glorot_uniform",
    bias_initializer="zeros",
    kernel_regularizer=None,
    bias_regularizer=None,
    activity_regularizer=None,
    kernel_constraint=None,
    bias_constraint=None,
    **kwargs
)
```
#### Arguments

 * units: Positive integer, dimensionality of the output space.
 * activation: Activation function to use. If you don't specify anything, no activation is applied (ie. "linear" activation: a(x) = x).
 * use_bias: Boolean, whether the layer uses a bias vector.
 * kernel_initializer: Initializer for the kernel weights matrix.
 * bias_initializer: Initializer for the bias vector.
 * kernel_regularizer: Regularizer function applied to the kernel weights matrix.
 * bias_regularizer: Regularizer function applied to the bias vector.
 * activity_regularizer: Regularizer function applied to the output of the layer (its "activation").
 * kernel_constraint: Constraint function applied to the kernel weights matrix.
 * bias_constraint: Constraint function applied to the bias vector.

 etkinleştirme argümanı olarak iletilen öğe bazlı etkinleştirme işlevidir, çekirdek, katman tarafından oluşturulan bir ağırlık matrisidir ve önyargı, oluşturulan bir önyargı vektörüdür katmana göre (yalnızca use_bias True ise geçerlidir).

In [198]:
result = keras.layers.Dense(1, activation='relu',name='Activation')(prod)
# Eğittiğimiz yapay sinir ağı modeline gerçek dünya verilerini,
# yani karmaşık verileri öğretebilmek için kullandığımız fonksiyonlardır.
# relu =[0,+∞)
# ReLU fonksiyonunun ana avantajı aynı anda tüm nöronları aktive etmemesidir.

* Derin öğrenme uygulamalarında öğrenme işleminin temelde bir optimizasyon problemi olduğu daha önce vurgulanmıştı.
* Doğrusal olmayan problemlerin çözümünde optimum değeri bulmak için optimizasyon yöntemleri kullanılmaktadır.

In [199]:
# lr =learning rate

In [200]:
adam = Adam(lr=0.05)

In [201]:
# creating model
model = keras.Model([user_input, movie_input], result)

```
Model.compile(
    optimizer="rmsprop",
    loss=None,
    metrics=None,
    loss_weights=None,
    weighted_metrics=None,
    run_eagerly=None,
    steps_per_execution=None,
    **kwargs
)
```
#### Arguments

* optimizer: String (name of optimizer) or optimizer instance. See tf.keras.optimizers.
* loss: String (name of objective function), objective function or tf.keras.losses.Loss instance. See tf.keras.losses. An objective function is any callable with the signature loss = fn(y_true, y_pred), where y_true = ground truth values with shape = [batch_size, d0, .. dN], except sparse loss functions such as sparse categorical crossentropy where shape = [batch_size, d0, .. dN-1]. y_pred = predicted values with shape = [batch_size, d0, .. dN]. It returns a weighted loss float tensor. If a custom Loss instance is used and reduction is set to NONE, return value has the shape [batch_size, d0, .. dN-1] ie. per-sample or per-timestep loss values; otherwise, it is a scalar. If the model has multiple outputs, you can use a different loss on each output by passing a dictionary or a list of losses. The loss value that will be minimized by the model will then be the sum of all individual losses.
* metrics: List of metrics to be evaluated by the model during training and testing. Each of this can be a string (name of a built-in function), function or a tf.keras.metrics.Metric instance. See tf.keras.metrics. Typically you will use metrics=['accuracy']. A function is any callable with the signature result = fn(y_true, y_pred). To specify different metrics for different outputs of a multi-output model, you could also pass a dictionary, such as metrics={'output_a': 'accuracy', 'output_b': ['accuracy', 'mse']}. You can also pass a list (len = len(outputs)) of lists of metrics such as metrics=[['accuracy'], ['accuracy', 'mse']] or metrics=['accuracy', ['accuracy', 'mse']]. When you pass the strings 'accuracy' or 'acc', we convert this to one of tf.keras.metrics.BinaryAccuracy, tf.keras.metrics.CategoricalAccuracy, tf.keras.metrics.SparseCategoricalAccuracy based on the loss function used and the model output shape. We do a similar conversion for the strings 'crossentropy' and 'ce' as well.
* loss_weights: Optional list or dictionary specifying scalar coefficients (Python floats) to weight the loss contributions of different model outputs. The loss value that will be minimized by the model will then be the weighted sum of all individual losses, weighted by the loss_weights coefficients. If a list, it is expected to have a 1:1 mapping to the model's outputs. If a dict, it is expected to map output names (strings) to scalar coefficients.
* weighted_metrics: List of metrics to be evaluated and weighted by sample_weight or class_weight during training and testing.
* run_eagerly: Bool. Defaults to False. If True, this Model's logic will not be wrapped in a tf.function. Recommended to leave this as None unless your Model cannot be run inside a tf.function. run_eagerly=True is not supported when using tf.distribute.experimental.ParameterServerStrategy.
* steps_per_execution: Int. Defaults to 1. The number of batches to run during each tf.function call. Running multiple batches inside a single tf.function call can greatly improve performance on TPUs or small models with a large Python overhead. At most, one full epoch will be run each execution. If a number larger than the size of the epoch is passed, the execution will be truncated to the size of the epoch. Note that if steps_per_execution is set to N, Callback.on_batch_begin and Callback.on_batch_end methods will only be called every N batches (i.e. before/after each tf.function execution).
* **kwargs: Arguments supported for backwards compatibility only.

In [202]:
model.compile(optimizer=adam,loss= 'mean_absolute_error', metrics=['accuracy'])

In [203]:
# model details
model.summary()

Model: "model_13"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Item (InputLayer)               [(None, 1)]          0
__________________________________________________________________________________________________
User (InputLayer)               [(None, 1)]          0
__________________________________________________________________________________________________
Movie-Embedding (Embedding)     (None, 1, 1)         14027       Item[0][0]
__________________________________________________________________________________________________
User-Embedding (Embedding)      (None, 1, 1)         7121        User[0][0]
__________________________________________________________________________________________________
FlattenMovies (Flatten)         (None, 1)            0           Movie-Embedding[0][0]
__________________________________________________________________________________________________
FlattenUsers (Flatten)          (None, 1)            0           User-Embedding[0][0]
__________________________________________________________________________________________________
DotProduct (Concatenate)        (None, 2)            0           FlattenMovies[0][0]
                                                                 FlattenUsers[0][0]
__________________________________________________________________________________________________
Activation (Dense)              (None, 1)            3           DotProduct[0][0]
==================================================================================================
Total params: 21,151
Trainable params: 21,151
Non-trainable params: 0
__________________________________________________________________________________________________

```
Model.fit(
    x=None,
    y=None,
    batch_size=None,
    epochs=1,
    verbose="auto",
    callbacks=None,
    validation_split=0.0,
    validation_data=None,
    shuffle=True,
    class_weight=None,
    sample_weight=None,
    initial_epoch=0,
    steps_per_epoch=None,
    validation_steps=None,
    validation_batch_size=None,
    validation_freq=1,
    max_queue_size=10,
    workers=1,
    use_multiprocessing=False,
)
```

#### Arguments

* x: Input data. It could be:
  * A Numpy array (or array-like), or a list of arrays (in case the model has multiple inputs).
  * A TensorFlow tensor, or a list of tensors (in case the model has multiple inputs).
  * A dict mapping input names to the corresponding array/tensors, if the model has named inputs.
  * A tf.data dataset. Should return a tuple of either (inputs, targets) or (inputs, targets, sample_weights).
  * A generator or keras.utils.Sequence returning (inputs, targets) or (inputs, targets, sample_weights).
  * A tf.keras.utils.experimental.DatasetCreator, which wraps a callable that takes a single argument of type tf.distribute.InputContext, and returns a tf.data.Dataset. DatasetCreator should be used when users prefer to specify the per-replica batching and sharding logic for the Dataset. See tf.keras.utils.experimental.DatasetCreator doc for more information. A more detailed description of unpacking behavior for iterator types (Dataset, generator, Sequence) is given below. If using tf.distribute.experimental.ParameterServerStrategy, only DatasetCreator type is supported for x.
* y: Target data. Like the input data x, it could be either Numpy array(s) or TensorFlow tensor(s). It should be consistent with x (you cannot have Numpy inputs and tensor targets, or inversely). If x is a dataset, generator, or keras.utils.Sequence instance, y should not be specified (since targets will be obtained from x).
* batch_size: Integer or None. Number of samples per gradient update. If unspecified, batch_size will default to 32. Do not specify the batch_size if your data is in the form of datasets, generators, or keras.utils.Sequence instances (since they generate batches).
* epochs: Integer. Number of epochs to train the model. An epoch is an iteration over the entire x and y data provided. Note that in conjunction with initial_epoch, epochs is to be understood as "final epoch". The model is not trained for a number of iterations given by epochs, but merely until the epoch of index epochs is reached.
* verbose: 'auto', 0, 1, or 2. Verbosity mode. 0 = silent, 1 = progress bar, 2 = one line per epoch. 'auto' defaults to 1 for most cases, but 2 when used with ParameterServerStrategy. Note that the progress bar is not particularly useful when logged to a file, so verbose=2 is recommended when not running interactively (eg, in a production environment).
* callbacks: List of keras.callbacks.Callback instances. List of callbacks to apply during training. See tf.keras.callbacks. Note tf.keras.callbacks.ProgbarLogger and tf.keras.callbacks.History callbacks are created automatically and need not be passed into model.fit. tf.keras.callbacks.ProgbarLogger is created or not based on verbose argument to model.fit. Callbacks with batch-level calls are currently unsupported with tf.distribute.experimental.ParameterServerStrategy, and users are advised to implement epoch-level calls instead with an appropriate steps_per_epoch value.
* validation_split: Float between 0 and 1. Fraction of the training data to be used as validation data. The model will set apart this fraction of the training data, will not train on it, and will evaluate the loss and any model metrics on this data at the end of each epoch. The validation data is selected from the last samples in the x and y data provided, before shuffling. This argument is not supported when x is a dataset, generator or keras.utils.Sequence instance. validation_split is not yet supported with tf.distribute.experimental.ParameterServerStrategy.
* validation_data: Data on which to evaluate the loss and any model metrics at the end of each epoch. The model will not be trained on this data. Thus, note the fact that the validation loss of data provided using validation_split or validation_data is not affected by regularization layers like noise and dropout. validation_data will override validation_split. validation_data could be: - A tuple (x_val, y_val) of Numpy arrays or tensors. - A tuple (x_val, y_val, val_sample_weights) of NumPy arrays. - A tf.data.Dataset. - A Python generator or keras.utils.Sequence returning (inputs, targets) or (inputs, targets, sample_weights). validation_data is not yet supported with tf.distribute.experimental.ParameterServerStrategy.
* shuffle: Boolean (whether to shuffle the training data before each epoch) or str (for 'batch'). This argument is ignored when x is a generator or an object of tf.data.Dataset. 'batch' is a special option for dealing with the limitations of HDF5 data; it shuffles in batch-sized chunks. Has no effect when steps_per_epoch is not None.
* class_weight: Optional dictionary mapping class indices (integers) to a weight (float) value, used for weighting the loss function (during training only). This can be useful to tell the model to "pay more attention" to samples from an under-represented class.
* sample_weight: Optional Numpy array of weights for the training samples, used for weighting the loss function (during training only). You can either pass a flat (1D) Numpy array with the same length as the input samples (1:1 mapping between weights and samples), or in the case of temporal data, you can pass a 2D array with shape (samples, sequence_length), to apply a different weight to every timestep of every sample. This argument is not supported when x is a dataset, generator, or keras.utils.Sequence instance, instead provide the sample_weights as the third element of x.
* initial_epoch: Integer. Epoch at which to start training (useful for resuming a previous training run).
* steps_per_epoch: Integer or None. Total number of steps (batches of samples) before declaring one epoch finished and starting the next epoch. When training with input tensors such as TensorFlow data tensors, the default None is equal to the number of samples in your dataset divided by the batch size, or 1 if that cannot be determined. If x is a tf.data dataset, and 'steps_per_epoch' is None, the epoch will run until the input dataset is exhausted. When passing an infinitely repeating dataset, you must specify the steps_per_epoch argument. This argument is not supported with array inputs. steps_per_epoch=None is not supported when using tf.distribute.experimental.ParameterServerStrategy.
* validation_steps: Only relevant if validation_data is provided and is a tf.data dataset. Total number of steps (batches of samples) to draw before stopping when performing validation at the end of every epoch. If 'validation_steps' is None, validation will run until the validation_data dataset is exhausted. In the case of an infinitely repeated dataset, it will run into an infinite loop. If 'validation_steps' is specified and only part of the dataset will be consumed, the evaluation will start from the beginning of the dataset at each epoch. This ensures that the same validation samples are used every time.
* validation_batch_size: Integer or None. Number of samples per validation batch. If unspecified, will default to batch_size. Do not specify the validation_batch_size if your data is in the form of datasets, generators, or keras.utils.Sequence instances (since they generate batches).
* validation_freq: Only relevant if validation data is provided. Integer or collections.abc.Container instance (e.g. list, tuple, etc.). If an integer, specifies how many training epochs to run before a new validation run is performed, e.g. validation_freq=2 runs validation every 2 epochs. If a Container, specifies the epochs on which to run validation, e.g. validation_freq=[1, 2, 10] runs validation at the end of the 1st, 2nd, and 10th epochs.
* max_queue_size: Integer. Used for generator or keras.utils.Sequence input only. Maximum size for the generator queue. If unspecified, max_queue_size will default to 10.
* workers: Integer. Used for generator or keras.utils.Sequence input only. Maximum number of processes to spin up when using process-based threading. If unspecified, workers will default to 1.
* use_multiprocessing: Boolean. Used for generator or keras.utils.Sequence input only. If True, use process-based threading. If unspecified, use_multiprocessing will default to False. Note that because this implementation relies on multiprocessing, you should not pass non-picklable arguments to the generator as they can't be passed easily to children processes.

In [204]:
# x: input
# y: target
# epochs number of epochs to train the model
# verbose: for 0: don't show result ,for 1: step to step show result , for 2:every complete epoch then show result
# val_split: Model, eğitim verilerinin bu bölümünü ayıracak, 
# bunun üzerinde çalışmayacak ve her dönemin sonunda bu verilerdeki kaybı ve model ölçütlerini değerlendirecektir. 
history = model.fit([train.userId, train.movieId], train.rating,  epochs=10,batch_size=64,verbose=1, validation_split=0.1)

Epoch 1/10
11797/11797 [==============================] - 7s 527us/step - loss: 0.7632 - accuracy: 0.0332 - val_loss: 0.6822 - val_accuracy: 0.0332
Epoch 2/10
11797/11797 [==============================] - 6s 519us/step - loss: 0.6794 - accuracy: 0.0336 - val_loss: 0.6733 - val_accuracy: 0.0331
Epoch 3/10
11797/11797 [==============================] - 6s 518us/step - loss: 0.6740 - accuracy: 0.0337 - val_loss: 0.6755 - val_accuracy: 0.0332
Epoch 4/10
11797/11797 [==============================] - 6s 517us/step - loss: 0.6733 - accuracy: 0.0336 - val_loss: 0.6801 - val_accuracy: 0.0331
Epoch 5/10
11797/11797 [==============================] - 6s 520us/step - loss: 0.6721 - accuracy: 0.0332 - val_loss: 0.6832 - val_accuracy: 0.0329
Epoch 6/10
11797/11797 [==============================] - 6s 520us/step - loss: 0.6690 - accuracy: 0.0330 - val_loss: 0.6840 - val_accuracy: 0.0328
Epoch 7/10
11797/11797 [==============================] - 6s 520us/step - loss: 0.6707 - accuracy: 0.0335 - val_loss: 0.6741 - val_accuracy: 0.0329
Epoch 8/10
11797/11797 [==============================] - 6s 523us/step - loss: 0.6715 - accuracy: 0.0333 - val_loss: 0.6751 - val_accuracy: 0.0332
Epoch 9/10
11797/11797 [==============================] - 6s 528us/step - loss: 0.6706 - accuracy: 0.0337 - val_loss: 0.6688 - val_accuracy: 0.0332
Epoch 10/10
11797/11797 [==============================] - 6s 530us/step - loss: 0.6699 - accuracy: 0.0334 - val_loss: 0.6666 - val_accuracy: 0.0332

In [205]:
a=model.evaluate([train.userId, train.movieId], train.rating , batch_size=128)

6554/6554 [==============================] - 2s 374us/step - loss: 0.6507 - accuracy: 0.0335

In [206]:
a

[0.6507437825202942, 0.03351691737771034]

In [207]:
y_hat = np.round(model.predict([test.userId, test.movieId]),0)
y_true = test.rating

In [208]:
mean_absolute_error(y_true, y_hat)

0.6598526571775982

In [209]:
errors=mean_absolute_error(y_true, y_hat)
mape = 100 * (errors / y_true)
accuracy = 100 - np.mean(mape)

In [211]:
print("(MAE)Mean Absolute Error:",round(mean_absolute_error(y_true, y_hat),4))
print("(RMSE)Root Mean Square Error:",round(np.sqrt(mean_squared_error(y_true,y_hat)) ,4))
print(' Accuracy:', round(accuracy, 2), '%.')

(MAE)Mean Absolute Error: 0.6599
(RMSE)Root Mean Square Error: 0.9252
 Accuracy: 77.63 %.

In [214]:
mlp_user_embedding_weights = (next(iter(filter(lambda x: x.name == 'User-Embedding', model.layers))).get_weights())

In [219]:
print(mlp_user_embedding_weights)
len(mlp_user_embedding_weights[0])

[array([[  0.52441335],
       [ -8.120131  ],
       [ -8.188935  ],
       ...,
       [ -1.8790382 ],
       [-11.651901  ],
       [  0.01544632]], dtype=float32)]

7121

In [220]:
user_latent_matrix = mlp_user_embedding_weights[0]

In [221]:
user_latent_matrix

array([[  0.52441335],
       [ -8.120131  ],
       [ -8.188935  ],
       ...,
       [ -1.8790382 ],
       [-11.651901  ],
       [  0.01544632]], dtype=float32)

In [222]:
desired_user_id=38

In [223]:
one_user_vector = user_latent_matrix[desired_user_id,:]

In [224]:
one_user_vector

array([-5.092189], dtype=float32)

In [225]:
one_user_vector = np.reshape(one_user_vector, (1,1))

In [226]:
one_user_vector

array([[-5.092189]], dtype=float32)

In [227]:
print('Performing kmeans to find the nearest users...')

Performing kmeans to find the nearest users...

In [228]:
kmeans = KMeans(n_clusters=20, random_state=0, verbose=0).fit(user_latent_matrix)

In [229]:
kmeans

KMeans(n_clusters=20, random_state=0)

In [230]:
desired_user_label = kmeans.predict(one_user_vector)

In [231]:
desired_user_label

array([13])

In [232]:
user_label = kmeans.labels_

In [233]:
user_label

array([5, 6, 6, ..., 8, 3, 5])

In [235]:
neighbors = []
for user_id, user_label in enumerate(user_label):
    if user_label == desired_user_label:
        neighbors.append(user_id)

In [236]:
neighbors

[7,
 30,
 33,
 38,
 43,
 56,
 57,
 61,
 62,
 66,
 67,
 88,
 98,
 117,
 139,
 158,
 200,
 210,
 235,
 243,
 248,
 252,
 255,
 267,
 274,
 284,
 286,
 295,
 308,
 324,
 351,
 360,
 404,
 442,
 443,
 445,
 473,
 477,
 483,
 495,
 515,
 533,
 534,
 537,
 548,
 588,
 594,
 627,
 638,
 640,
 641,
 650,
 655,
 664,
 667,
 669,
 672,
 677,
 682,
 705,
 726,
 782,
 796,
 801,
 828,
 840,
 844,
 849,
 862,
 867,
 869,
 885,
 899,
 926,
 932,
 938,
 946,
 965,
 1024,
 1028,
 1036,
 1041,
 1042,
 1073,
 1088,
 1105,
 1116,
 1147,
 1155,
 1157,
 1165,
 1181,
 1215,
 1229,
 1234,
 1241,
 1245,
 1250,
 1254,
 1258,
 1262,
 1282,
 1292,
 1294,
 1296,
 1330,
 1341,
 1380,
 1381,
 1404,
 1426,
 1427,
 1467,
 1481,
 1486,
 1499,
 1500,
 1502,
 1503,
 1504,
 1505,
 1511,
 1533,
 1538,
 1540,
 1544,
 1552,
 1557,
 1574,
 1583,
 1605,
 1619,
 1626,
 1629,
 1630,
 1632,
 1635,
 1648,
 1654,
 1664,
 1667,
 1668,
 1675,
 1695,
 1715,
 1723,
 1746,
 1758,
 1789,
 1792,
 1799,
 1811,
 1824,
 1834,
 1835,
 1838,
 1844,
 1862,
 1880,
 1885,
 1894,
 1908,
 1913,
 1915,
 1918,
 1935,
 1949,
 1954,
 1967,
 1977,
 1978,
 1998,
 2009,
 2020,
 2026,
 2038,
 2055,
 2108,
 2118,
 2122,
 2136,
 2140,
 2144,
 2180,
 2182,
 2189,
 2191,
 2193,
 2202,
 2203,
 2204,
 2258,
 2266,
 2271,
 2286,
 2300,
 2306,
 2310,
 2311,
 2313,
 2317,
 2327,
 2332,
 2343,
 2344,
 2350,
 2377,
 2390,
 2396,
 2416,
 2418,
 2426,
 2427,
 2428,
 2464,
 2467,
 2498,
 2508,
 2511,
 2515,
 2549,
 2554,
 2566,
 2570,
 2594,
 2596,
 2618,
 2629,
 2658,
 2664,
 2678,
 2679,
 2692,
 2694,
 2702,
 2717,
 2722,
 2756,
 2757,
 2758,
 2763,
 2767,
 2784,
 2812,
 2815,
 2822,
 2827,
 2847,
 2859,
 2872,
 2874,
 2877,
 2884,
 2891,
 2900,
 2902,
 2912,
 2915,
 2923,
 2932,
 2939,
 2976,
 2978,
 3033,
 3040,
 3083,
 3084,
 3110,
 3125,
 3134,
 3184,
 3191,
 3193,
 3209,
 3216,
 3230,
 3254,
 3274,
 3291,
 3333,
 3361,
 3371,
 3374,
 3397,
 3401,
 3420,
 3421,
 3437,
 3448,
 3454,
 3475,
 3477,
 3487,
 3510,
 3517,
 3518,
 3519,
 3525,
 3540,
 3541,
 3549,
 3555,
 3556,
 3563,
 3573,
 3584,
 3619,
 3622,
 3625,
 3633,
 3643,
 3670,
 3694,
 3697,
 3703,
 3721,
 3759,
 3762,
 3763,
 3786,
 3789,
 3799,
 3810,
 3815,
 3825,
 3843,
 3850,
 3867,
 3897,
 3913,
 3935,
 3936,
 3952,
 3954,
 3957,
 3961,
 3970,
 3974,
 3982,
 3986,
 4000,
 4004,
 4005,
 4022,
 4036,
 4053,
 4062,
 4067,
 4069,
 4081,
 4093,
 4101,
 4131,
 4132,
 4133,
 4134,
 4146,
 4149,
 4155,
 4176,
 4192,
 4199,
 4221,
 4251,
 4259,
 4260,
 4290,
 4299,
 4304,
 4309,
 4323,
 4331,
 4337,
 4345,
 4354,
 4358,
 4361,
 4391,
 4477,
 4479,
 4500,
 4504,
 4509,
 4519,
 4525,
 4526,
 4531,
 4538,
 4539,
 4541,
 4546,
 4576,
 4610,
 4665,
 4670,
 4683,
 4688,
 4697,
 4699,
 4704,
 4708,
 4718,
 4733,
 4742,
 4752,
 4760,
 4779,
 4783,
 4789,
 4795,
 4796,
 4820,
 4821,
 4825,
 4857,
 4879,
 4912,
 4914,
 4924,
 4929,
 4953,
 4979,
 4981,
 5032,
 5049,
 5086,
 5089,
 5097,
 5108,
 5118,
 5143,
 5154,
 5166,
 5169,
 5170,
 5174,
 5178,
 5180,
 5182,
 5186,
 5190,
 5191,
 5211,
 5223,
 5225,
 5240,
 5241,
 5261,
 5263,
 5302,
 5314,
 5323,
 5325,
 5356,
 5374,
 5415,
 5416,
 5417,
 5420,
 5422,
 5427,
 5437,
 5438,
 5441,
 5467,
 5483,
 5489,
 5495,
 5500,
 5518,
 5520,
 5526,
 5552,
 5568,
 5571,
 5576,
 5578,
 5581,
 5590,
 5607,
 5618,
 5631,
 5632,
 5649,
 5656,
 5682,
 5702,
 5705,
 5729,
 5756,
 5763,
 5786,
 5811,
 5814,
 5819,
 5836,
 5843,
 5927,
 5931,
 5944,
 5985,
 5991,
 6036,
 6053,
 6060,
 6075,
 6094,
 6148,
 6157,
 6173,
 6176,
 6178,
 6186,
 6188,
 6206,
 6225,
 6236,
 6238,
 6262,
 6276,
 6287,
 6317,
 6322,
 6326,
 6331,
 6342,
 6350,
 6356,
 6373,
 6383,
 6408,
 6418,
 6426,
 6439,
 6478,
 6481,
 6501,
 6509,
 6511,
 6533,
 6540,
 6544,
 6550,
 6564,
 6569,
 6600,
 6610,
 6615,
 6618,
 6622,
 6626,
 6644,
 6647,
 6664,
 6674,
 6683,
 6706,
 6717,
 6733,
 6735,
 6741,
 6744,
 6746,
 6752,
 6756,
 6766,
 6779,
 6796,
 6811,
 6834,
 6837,
 6854,
 6870,
 6873,
 6877,
 6911,
 6929,
 6936,
 6949,
 6957,
 6969,
 6989,
 7025,
 7026,
 7061,
 7063,
 7076,
 7087,
 7090,
 7116,
 7117]

In [237]:
print('Found {0} neighbor users.'.format(len(neighbors)))

Found 591 neighbor users.

In [238]:
movies = []
for user_id in neighbors:
    movies += list(ratings[ratings['userId'] == int(user_id)]['movieId'])

In [239]:
movies = list(set(movies))

In [242]:
movies

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 53,
 54,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 117,
 118,
 119,
 120,
 121,
 122,
 128,
 131,
 136,
 137,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 289,
 290,
 291,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 325,
 326,
 327,
 328,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 395,
 397,
 398,
 399,
 400,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 453,
 454,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 516,
 517,
 518,
 519,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 545,
 546,
 547,
 550,
 551,
 552,
 554,
 556,
 557,
 558,
 559,
 560,
 562,
 563,
 564,
 566,
 568,
 569,
 571,
 573,
 574,
 575,
 576,
 577,
 578,
 580,
 581,
 582,
 583,
 584,
 585,
 587,
 588,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 602,
 603,
 604,
 610,
 611,
 612,
 614,
 615,
 616,
 617,
 618,
 619,
 621,
 622,
 623,
 624,
 627,
 628,
 630,
 633,
 634,
 637,
 639,
 640,
 641,
 642,
 643,
 645,
 646,
 648,
 650,
 651,
 654,
 656,
 657,
 661,
 662,
 663,
 665,
 666,
 667,
 670,
 671,
 673,
 674,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 697,
 698,
 699,
 701,
 706,
 708,
 709,
 710,
 713,
 714,
 715,
 717,
 718,
 719,
 720,
 722,
 723,
 724,
 725,
 726,
 731,
 732,
 733,
 734,
 736,
 737,
 738,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 762,
 765,
 767,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 780,
 781,
 785,
 794,
 795,
 796,
 798,
 799,
 801,
 802,
 803,
 804,
 805,
 806,
 808,
 814,
 815,
 817,
 818,
 824,
 826,
 827,
 828,
 830,
 831,
 834,
 839,
 842,
 843,
 844,
 845,
 847,
 848,
 850,
 853,
 854,
 855,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 938,
 940,
 941,
 942,
 945,
 947,
 949,
 950,
 951,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1004,
 1005,
 1006,
 1007,
 1008,
 1011,
 1013,
 1014,
 1016,
 1017,
 1018,
 1019,
 1021,
 1023,
 1024,
 1025,
 1026,
 1029,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1054,
 1055,
 1056,
 1058,
 1059,
 1060,
 1061,
 1064,
 1065,
 1066,
 1070,
 1073,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1087,
 1088,
 1094,
 1095,
 1097,
 1098,
 1100,
 1101,
 1104,
 1108,
 1109,
 1110,
 1115,
 1119,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 ...]

In [243]:
print('Found {0} neighbor movies from these users.'.format(len(movies)))

Found 6988 neighbor movies from these users.

In [244]:
users = np.full(len(movies), desired_user_id, dtype='int32')

In [245]:
users

array([38, 38, 38, ..., 38, 38, 38])

In [247]:
items = np.array(movies, dtype='int32')

In [248]:
items

array([    0,     1,     2, ..., 13975, 13992, 13993])

In [249]:
print('Ranking most likely tracks using the NeuMF model...')

Ranking most likely tracks using the NeuMF model...

In [263]:
results = model.predict([users,items], verbose=1)

219/219 [==============================] - 0s 590us/step

In [264]:
results = results.tolist()

In [265]:
results

[[4.2146148681640625],
 [3.6068098545074463],
 [3.508782148361206],
 [3.3198158740997314],
 [3.4155936241149902],
 [4.202577114105225],
 [3.6695895195007324],
 [3.6419565677642822],
 [3.5633862018585205],
 [3.7226738929748535],
 [3.925507068634033],
 [3.097158432006836],
 [3.555128335952759],
 [3.6436924934387207],
 [3.2605199813842773],
 [4.153736114501953],
 [4.227509498596191],
 [3.8633205890655518],
 [2.952104091644287],
 [3.340705394744873],
 [3.969735622406006],
 [3.6698596477508545],
 [3.453993082046509],
 [3.6129696369171143],
 [4.063234329223633],
 [4.110652923583984],
 [3.717965841293335],
 [4.335838317871094],
 [4.390641689300537],
 [4.019095420837402],
 [3.563668966293335],
 [4.180771827697754],
 [4.03408670425415],
 [4.281841278076172],
 [4.101990222930908],
 [3.243173837661743],
 [3.824474334716797],
 [3.9840428829193115],
 [4.151639461517334],
 [3.4942774772644043],
 [3.820448875427246],
 [3.313750743865967],
 [3.7941360473632812],
 [3.5203919410705566],
 [4.454586982727051],
 [3.4630775451660156],
 [3.296757459640503],
 [4.5902557373046875],
 [3.8936545848846436],
 [2.966198205947876],
 [3.8440074920654297],
 [3.8635828495025635],
 [4.168955326080322],
 [3.425966501235962],
 [3.7757487297058105],
 [4.006087779998779],
 [3.3739583492279053],
 [3.056595802307129],
 [2.8230466842651367],
 [2.2086708545684814],
 [3.7831103801727295],
 [3.9889073371887207],
 [3.7338085174560547],
 [3.0301930904388428],
 [3.9281880855560303],
 [4.083566188812256],
 [3.812730550765991],
 [2.984696388244629],
 [3.330598831176758],
 [3.8353617191314697],
 [3.47291898727417],
 [3.451868772506714],
 [4.382880210876465],
 [3.7379093170166016],
 [4.283662796020508],
 [3.563429355621338],
 [3.8474063873291016],
 [3.9085683822631836],
 [3.9339704513549805],
 [3.216348648071289],
 [3.402937173843384],
 [3.7445740699768066],
 [3.6007161140441895],
 [3.503197431564331],
 [2.7411997318267822],
 [3.857306480407715],
 [3.450051784515381],
 [3.865642547607422],
 [4.574708461761475],
 [3.553020477294922],
 [3.6833481788635254],
 [4.309027671813965],
 [3.0583486557006836],
 [3.179150104522705],
 [3.5704381465911865],
 [3.7840676307678223],
 [3.480638027191162],
 [4.185542106628418],
 [4.387628555297852],
 [3.8269543647766113],
 [3.639103412628174],
 [4.304593563079834],
 [4.362224578857422],
 [4.225064277648926],
 [3.4033379554748535],
 [3.148850440979004],
 [4.167113304138184],
 [3.2046775817871094],
 [4.20469856262207],
 [4.124492645263672],
 [4.335798740386963],
 [2.6960108280181885],
 [3.1125340461730957],
 [3.3835179805755615],
 [3.636075496673584],
 [3.859344005584717],
 [3.8752191066741943],
 [3.508605480194092],
 [2.5160207748413086],
 [3.9735374450683594],
 [3.3234424591064453],
 [4.329428195953369],
 [4.0976128578186035],
 [3.8028500080108643],
 [3.620453357696533],
 [3.2829952239990234],
 [4.154860973358154],
 [3.8841066360473633],
 [4.156314849853516],
 [3.2995731830596924],
 [3.498023748397827],
 [3.9835007190704346],
 [3.1710548400878906],
 [3.9650752544403076],
 [4.337522983551025],
 [3.867164373397827],
 [3.594390392303467],
 [3.9876084327697754],
 [3.6922857761383057],
 [3.4740331172943115],
 [2.925922155380249],
 [3.6904406547546387],
 [3.8248069286346436],
 [3.2270445823669434],
 [3.006443977355957],
 [3.1756930351257324],
 [4.073160171508789],
 [4.282529354095459],
 [3.3729844093322754],
 [3.8864049911499023],
 [3.076469659805298],
 [3.9942626953125],
 [2.419856071472168],
 [3.382805109024048],
 [3.546424150466919],
 [3.414828300476074],
 [3.4489734172821045],
 [3.876917600631714],
 [4.105806350708008],
 [3.7272465229034424],
 [4.2169389724731445],
 [2.9592342376708984],
 [2.8889451026916504],
 [4.1517415046691895],
 [3.5659866333007812],
 [3.338900566101074],
 [2.8637752532958984],
 [3.8941524028778076],
 [4.184215545654297],
 [3.7266876697540283],
 [3.7536215782165527],
 [3.478058338165283],
 [3.4405226707458496],
 [4.056710720062256],
 [3.776519536972046],
 [3.5711653232574463],
 [3.2451894283294678],
 [3.107351779937744],
 [3.0838541984558105],
 [4.050156593322754],
 [2.704914093017578],
 [4.352602958679199],
 [4.648619651794434],
 [4.2757568359375],
 [3.6461892127990723],
 [3.179347276687622],
 [3.6911590099334717],
 [3.8537211418151855],
 [3.0893166065216064],
 [3.8547849655151367],
 [4.283541679382324],
 [3.6727163791656494],
 [3.632563352584839],
 [3.2833492755889893],
 [3.119858741760254],
 [4.052815914154053],
 [3.919271230697632],
 [3.4065818786621094],
 [4.172909259796143],
 [3.9538965225219727],
 [3.280810594558716],
 [4.121548175811768],
 [3.5986969470977783],
 [3.607034206390381],
 [3.4428653717041016],
 [3.48747181892395],
 [3.191283702850342],
 [3.3818531036376953],
 [4.009324073791504],
 [2.910820960998535],
 [2.578977584838867],
 [4.275155544281006],
 [4.278320789337158],
 [3.4403092861175537],
 [3.959254741668701],
 [3.242608070373535],
 [3.777068853378296],
 [3.539860486984253],
 [3.824090003967285],
 [3.2523441314697266],
 [2.8011887073516846],
 [3.1983585357666016],
 [3.654385566711426],
 [3.1060729026794434],
 [3.5373690128326416],
 [4.532510280609131],
 [4.009676933288574],
 [4.085734844207764],
 [4.418456554412842],
 [4.173569202423096],
 [3.863358736038208],
 [3.431030511856079],
 [4.027517318725586],
 [3.9437825679779053],
 [3.441053867340088],
 [3.5530741214752197],
 [4.119865894317627],
 [3.6028897762298584],
 [3.3242459297180176],
 [3.2008185386657715],
 [3.4263875484466553],
 [3.681081533432007],
 [3.3453145027160645],
 [4.2458415031433105],
 [4.002019882202148],
 [3.984015703201294],
 [3.576962471008301],
 [3.9457080364227295],
 [3.821486234664917],
 [3.8232040405273438],
 [4.343632221221924],
 [2.8351826667785645],
 [3.6627700328826904],
 [4.28624153137207],
 [3.154975414276123],
 [4.5535149574279785],
 [3.345212697982788],
 [4.119805812835693],
 [3.99003529548645],
 [3.8582162857055664],
 [3.911449432373047],
 [3.412311553955078],
 [3.4568777084350586],
 [3.4284636974334717],
 [4.375265121459961],
 [4.116775989532471],
 [4.3589935302734375],
 [4.118778228759766],
 [2.9714014530181885],
 [3.3196024894714355],
 [3.40108060836792],
 [4.380908966064453],
 [3.3865301609039307],
 [3.586135149002075],
 [3.5105180740356445],
 [4.694010257720947],
 [4.073921203613281],
 [3.8452155590057373],
 [4.034811019897461],
 [3.898508071899414],
 [3.4028093814849854],
 [4.331230163574219],
 [3.35371732711792],
 [3.515260934829712],
 [3.759505271911621],
 [3.477193593978882],
 [3.2956645488739014],
 [3.83773136138916],
 [4.266988277435303],
 [4.109708309173584],
 [4.018797874450684],
 [3.2933804988861084],
 [3.7367310523986816],
 [3.44602108001709],
 [3.898003101348877],
 [4.195343971252441],
 [3.164839744567871],
 [3.31610369682312],
 [4.086143493652344],
 [3.8521199226379395],
 [3.972400665283203],
 [4.281285762786865],
 [3.822383165359497],
 [3.8316078186035156],
 [3.593364715576172],
 [3.955904722213745],
 [3.8915023803710938],
 [3.7422935962677],
 [2.902763843536377],
 [4.330486297607422],
 [3.9777703285217285],
 [3.6868646144866943],
 [3.010979175567627],
 [3.7586238384246826],
 [3.8834593296051025],
 [4.506051063537598],
 [4.083263874053955],
 [3.518653631210327],
 [3.4503226280212402],
 [3.4933981895446777],
 [3.844508171081543],
 [3.4580631256103516],
 [3.598792552947998],
 [3.6766839027404785],
 [4.102828502655029],
 [2.8948910236358643],
 [3.3682498931884766],
 [3.6697731018066406],
 [3.7560696601867676],
 [3.4884018898010254],
 [3.2297332286834717],
 [3.903942584991455],
 [3.714876174926758],
 [3.6584179401397705],
 [3.640010118484497],
 [3.358240842819214],
 [4.049567699432373],
 [3.3673675060272217],
 [3.4171671867370605],
 [4.125354766845703],
 [4.721169471740723],
 [4.15796422958374],
 [3.4906530380249023],
 [3.206608772277832],
 [2.3855719566345215],
 [2.8498079776763916],
 [3.8129467964172363],
 [3.7619271278381348],
 [3.5381619930267334],
 [3.3346004486083984],
 [3.918782949447632],
 [3.497262716293335],
 [3.2123045921325684],
 [3.0560061931610107],
 [3.3582839965820312],
 [4.01484489440918],
 [3.20373797416687],
 [2.972172737121582],
 [3.295642614364624],
 [3.72285532951355],
 [3.5310046672821045],
 [3.3437132835388184],
 [3.22688889503479],
 [3.93792986869812],
 [3.5090067386627197],
 [3.298114538192749],
 [4.152762413024902],
 [2.908118724822998],
 [2.5560474395751953],
 [4.083115577697754],
 [3.3744120597839355],
 [3.6302902698516846],
 [3.463658094406128],
 [3.1744370460510254],
 [3.2595181465148926],
 [3.3279898166656494],
 [3.116194248199463],
 [3.771493673324585],
 [4.098804473876953],
 [3.440244674682617],
 [3.474421501159668],
 [2.801069736480713],
 [3.411219835281372],
 [4.3530659675598145],
 [3.9819250106811523],
 [4.152194023132324],
 [3.8698408603668213],
 [3.462975025177002],
 [3.8904523849487305],
 [3.489570140838623],
 [3.70505428314209],
 [3.150498151779175],
 [4.346940040588379],
 [4.26371431350708],
 [3.6300649642944336],
 [3.4195735454559326],
 [2.873420238494873],
 [3.8395659923553467],
 [3.58223557472229],
 [3.3842716217041016],
 [3.4589428901672363],
 [3.938014030456543],
 [3.730412006378174],
 [3.2629079818725586],
 [2.974619150161743],
 [3.995563507080078],
 [3.5447072982788086],
 [2.5575342178344727],
 [4.070150375366211],
 [4.202238082885742],
 [3.5781445503234863],
 [3.753415822982788],
 [3.295685052871704],
 [4.049676895141602],
 [3.7643609046936035],
 [3.7340269088745117],
 [4.286345481872559],
 [3.3112947940826416],
 [3.3139266967773438],
 [2.9054174423217773],
 [3.042989730834961],
 [4.095502853393555],
 [3.340400218963623],
 [3.6497483253479004],
 [3.6014633178710938],
 [3.9217536449432373],
 [4.134273052215576],
 [3.7858798503875732],
 [3.599928855895996],
 [3.487100839614868],
 [4.278660774230957],
 [3.114633560180664],
 [3.7688679695129395],
 [4.210752010345459],
 [2.940141439437866],
 [2.8466641902923584],
 [3.281529426574707],
 [3.170012950897217],
 [3.9512040615081787],
 [3.9565136432647705],
 [4.048698425292969],
 [4.093518257141113],
 [3.1804301738739014],
 [3.557074785232544],
 [3.3152353763580322],
 [3.092283010482788],
 [4.020237922668457],
 [4.28515100479126],
 [3.6322906017303467],
 [3.566112756729126],
 [3.0740652084350586],
 [2.7363743782043457],
 [3.4355456829071045],
 [3.717607021331787],
 [4.018135070800781],
 [4.082794666290283],
 [3.7026944160461426],
 [3.3550000190734863],
 [4.582591533660889],
 [3.351236343383789],
 [4.077861309051514],
 [3.856658458709717],
 [3.4445111751556396],
 [3.4138693809509277],
 [4.323284149169922],
 [4.155771255493164],
 [3.5424325466156006],
 [3.5749735832214355],
 [4.041113376617432],
 [3.7150185108184814],
 [3.1767940521240234],
 [4.399785041809082],
 [3.474475145339966],
 [3.538400173187256],
 [3.2706165313720703],
 [2.1022911071777344],
 [2.731330394744873],
 [3.0624184608459473],
 [3.3529698848724365],
 [4.599613189697266],
 [3.6343958377838135],
 [4.158508777618408],
 [3.6429367065429688],
 [3.9448952674865723],
 [4.147511005401611],
 [4.2795562744140625],
 [3.2795214653015137],
 [3.825303554534912],
 [4.258510112762451],
 [3.390625238418579],
 [3.9110522270202637],
 [3.8994460105895996],
 [4.1352667808532715],
 [3.2635490894317627],
 [4.081018924713135],
 [3.55647873878479],
 [3.9501304626464844],
 [3.9175310134887695],
 [3.394559860229492],
 [3.2597503662109375],
 [3.5834901332855225],
 [4.33238410949707],
 [4.2053327560424805],
 [3.1652774810791016],
 [3.6114578247070312],
 [3.7437427043914795],
 [4.041809558868408],
 [4.214987277984619],
 [4.068715572357178],
 [3.763101816177368],
 [4.381416320800781],
 [3.881856918334961],
 [3.713803291320801],
 [3.897106885910034],
 [3.767592668533325],
 [4.49608039855957],
 [3.7473084926605225],
 [3.320700168609619],
 [3.585524559020996],
 [3.112349510192871],
 [3.931150436401367],
 [4.408918380737305],
 [3.452014684677124],
 [3.8159523010253906],
 [3.189352512359619],
 [3.160097599029541],
 [3.8723485469818115],
 [4.176021575927734],
 [3.697253942489624],
 [3.8826372623443604],
 [3.771422863006592],
 [4.093159198760986],
 [4.027761936187744],
 [3.7692244052886963],
 [3.0610404014587402],
 [4.725478172302246],
 [3.8749611377716064],
 [2.9625906944274902],
 [3.9556591510772705],
 [3.290343761444092],
 [3.5329408645629883],
 [3.4862918853759766],
 [3.4123239517211914],
 [3.7940902709960938],
 [3.639686107635498],
 [3.527634382247925],
 [3.514939308166504],
 [3.2501840591430664],
 [4.276618003845215],
 [3.6490323543548584],
 [3.5950443744659424],
 [3.9893879890441895],
 [3.8668735027313232],
 [4.574294567108154],
 [2.9515421390533447],
 [4.656408786773682],
 [3.9419565200805664],
 [3.228140354156494],
 [3.4806528091430664],
 [4.429512023925781],
 [3.992499828338623],
 [3.7867441177368164],
 [3.4462082386016846],
 [3.3652563095092773],
 [3.4620747566223145],
 [3.5565829277038574],
 [2.7249515056610107],
 [3.384212017059326],
 [3.495548963546753],
 [3.19354248046875],
 [3.4846839904785156],
 [3.304356098175049],
 [3.1331560611724854],
 [4.050408363342285],
 [3.7120442390441895],
 [3.5587148666381836],
 [3.769664764404297],
 [3.5457046031951904],
 [3.405870199203491],
 [3.2696774005889893],
 [3.329582691192627],
 [4.263725280761719],
 [3.9976887702941895],
 [3.923768997192383],
 [3.979255199432373],
 [4.1183762550354],
 [3.317589521408081],
 [4.435777187347412],
 [3.384251594543457],
 [3.306307554244995],
 [3.2197158336639404],
 [4.03728723526001],
 [4.028327465057373],
 [4.243289470672607],
 [3.6689257621765137],
 [2.587615966796875],
 [4.313555717468262],
 [3.2606475353240967],
 [3.2884445190429688],
 [4.410138130187988],
 [4.774839401245117],
 [2.768131971359253],
 [3.6593010425567627],
 [4.562262058258057],
 [4.1712446212768555],
 [2.8931002616882324],
 [3.315609931945801],
 [3.4365742206573486],
 [4.359180450439453],
 [4.104053020477295],
 [3.1136887073516846],
 [2.84417724609375],
 [3.759958505630493],
 [3.435474157333374],
 [4.032185077667236],
 [4.317907333374023],
 [3.363450288772583],
 [3.8818001747131348],
 [3.8483123779296875],
 [3.4342238903045654],
 [3.549727439880371],
 [3.2618303298950195],
 [3.639451265335083],
 [3.5526466369628906],
 [4.316254615783691],
 [3.3382492065429688],
 [4.158529758453369],
 [4.1446685791015625],
 [3.1281578540802],
 [3.193349838256836],
 [3.783588409423828],
 [4.419480323791504],
 [3.3543481826782227],
 [3.7916464805603027],
 [3.9591917991638184],
 [3.424628973007202],
 [3.8479385375976562],
 [3.732797145843506],
 [4.09650993347168],
 [3.3342232704162598],
 [2.1513895988464355],
 [2.9806056022644043],
 [3.3821957111358643],
 [2.8869199752807617],
 [3.5391812324523926],
 [3.8511385917663574],
 [3.3431639671325684],
 [3.325810432434082],
 [3.334613561630249],
 [3.8174781799316406],
 [4.0629987716674805],
 [2.9984967708587646],
 [3.4905319213867188],
 [3.4787638187408447],
 [4.1759796142578125],
 [3.169487953186035],
 [3.6013875007629395],
 [3.5665810108184814],
 [4.758024215698242],
 [4.0767951011657715],
 [3.951639175415039],
 [3.5889735221862793],
 [4.179929733276367],
 [2.8411192893981934],
 [2.7055716514587402],
 [3.7615020275115967],
 [3.439152956008911],
 [3.0001730918884277],
 [3.2752175331115723],
 [3.4808173179626465],
 [2.7485523223876953],
 [3.615344524383545],
 [2.8744893074035645],
 [2.8238346576690674],
 [4.0339484214782715],
 [4.107254981994629],
 [4.099692344665527],
 [4.177446365356445],
 [4.56670618057251],
 [4.419419288635254],
 [4.012685775756836],
 [3.84588623046875],
 [4.1326680183410645],
 [4.470555782318115],
 [4.310736656188965],
 [4.301937580108643],
 [4.363378524780273],
 [4.250964164733887],
 [4.546228408813477],
 [4.31785774230957],
 [4.289177417755127],
 [4.417945384979248],
 [4.488994121551514],
 [4.285093784332275],
 [4.105436325073242],
 [4.231383323669434],
 [4.40283727645874],
 [3.756786346435547],
 [3.913078546524048],
 [4.210107803344727],
 [4.357086658477783],
 [4.350066184997559],
 [4.441834449768066],
 [4.565413475036621],
 [4.393928050994873],
 [4.022548675537109],
 [4.601034641265869],
 [4.512317657470703],
 [4.320346832275391],
 [4.207896709442139],
 [4.491252422332764],
 [4.197536468505859],
 [4.135401248931885],
 [4.323369979858398],
 [3.667587995529175],
 [4.058704853057861],
 [4.0600128173828125],
 [4.329864501953125],
 [3.8422741889953613],
 [3.8071467876434326],
 [4.3155903816223145],
 [3.737186908721924],
 [4.437183856964111],
 [4.1166181564331055],
 [4.248573303222656],
 [4.252997398376465],
 [4.276821136474609],
 [4.463066101074219],
 [4.148918628692627],
 [4.272461414337158],
 [4.484394550323486],
 [4.370315074920654],
 [3.892293930053711],
 [4.470900058746338],
 [4.240365505218506],
 [4.665013790130615],
 [4.2393479347229],
 [4.312763214111328],
 [3.3949530124664307],
 [3.7222306728363037],
 [3.6598923206329346],
 [4.088250160217285],
 [3.8565633296966553],
 [4.049610614776611],
 [3.781256914138794],
 [4.347750663757324],
 [3.441892147064209],
 [4.1735429763793945],
 [4.402718544006348],
 [3.794609546661377],
 [4.393584728240967],
 [3.369497537612915],
 [4.263576507568359],
 [3.921088218688965],
 [3.912236452102661],
 [3.851914405822754],
 [3.6672303676605225],
 [3.829448699951172],
 [3.889478921890259],
 [3.6044981479644775],
 [3.0852038860321045],
 [3.993969202041626],
 [2.943060874938965],
 [4.201889991760254],
 [3.436263084411621],
 [4.061184406280518],
 [3.480423927307129],
 [3.866184949874878],
 [4.152233123779297],
 [2.8511295318603516],
 [3.427579402923584],
 [3.551356792449951],
 [2.7914857864379883],
 [3.4256014823913574],
 [3.2880699634552],
 [3.8655219078063965],
 [3.4791812896728516],
 [3.4099740982055664],
 [3.1358656883239746],
 [3.995137929916382],
 [3.5541090965270996],
 [3.5527701377868652],
 [3.7333157062530518],
 [3.5847530364990234],
 [3.4795689582824707],
 [3.876969337463379],
 [3.8074703216552734],
 [3.5664563179016113],
 [3.2006287574768066],
 [3.937941789627075],
 [4.151403427124023],
 [3.519117593765259],
 [3.8628344535827637],
 [3.5228915214538574],
 [3.7826554775238037],
 [3.9400858879089355],
 [3.9668333530426025],
 [3.59954833984375],
 [3.6281917095184326],
 [3.957840919494629],
 [3.8565597534179688],
 [3.741006851196289],
 [4.094123363494873],
 [4.120722770690918],
 [3.1884593963623047],
 [3.461799144744873],
 [3.954474687576294],
 [4.19235372543335],
 [4.3577165603637695],
 [3.7573935985565186],
 [3.4582433700561523],
 [4.020592212677002],
 [4.1152873039245605],
 [3.686525344848633],
 [3.7753446102142334],
 [4.411322593688965],
 [3.836643695831299],
 [3.6801917552948],
 [3.7694082260131836],
 [3.8343565464019775],
 [3.7958600521087646],
 [4.021386623382568],
 [4.077016353607178],
 [3.8484976291656494],
 [3.5580010414123535],
 [4.265751838684082],
 [4.132946491241455],
 [4.004622459411621],
 [4.440356254577637],
 [4.078495025634766],
 [4.079412460327148],
 [3.9934983253479004],
 [4.178011894226074],
 [4.164868354797363],
 [4.32010555267334],
 [3.8230865001678467],
 [3.9799561500549316],
 [3.778242588043213],
 [4.173433303833008],
 [4.114627361297607],
 [4.436941146850586],
 [3.6986823081970215],
 [3.64099383354187],
 [4.366713523864746],
 [4.21501350402832],
 [3.204238176345825],
 [3.7617454528808594],
 [3.7887542247772217],
 [4.146749973297119],
 [4.216328144073486],
 [4.225510597229004],
 [4.108152389526367],
 [4.223763942718506],
 [3.2405176162719727],
 [3.6626486778259277],
 [4.1518025398254395],
 [4.257330417633057],
 [2.6520447731018066],
 [3.8351755142211914],
 [4.199260711669922],
 [3.9779903888702393],
 [3.609835147857666],
 [4.050617218017578],
 [4.084890365600586],
 [4.258521556854248],
 [4.146662712097168],
 [3.9209604263305664],
 [3.176025629043579],
 [3.9650731086730957],
 [3.52469801902771],
 [3.7941572666168213],
 [3.599057674407959],
 [4.393730163574219],
 [4.335718631744385],
 [3.516953468322754],
 [4.503039360046387],
 [3.618765354156494],
 [3.9560964107513428],
 [4.431894302368164],
 [4.434618949890137],
 [4.018979072570801],
 [3.9778075218200684],
 [3.8871307373046875],
 [3.2361538410186768],
 [4.326383113861084],
 [4.056427001953125],
 [3.580150604248047],
 [4.219674110412598],
 [4.588300704956055],
 [4.102568626403809],
 [4.353996276855469],
 [4.252991676330566],
 [4.121181488037109],
 [4.520626544952393],

In [266]:
print('Ranked the movies!')

Ranked the movies!

In [267]:
results = pd.DataFrame(results, columns=['pre_rating']).astype("float")

In [268]:
results

      pre_rating
0       4.214615
1       3.606810
2       3.508782
3       3.319816
4       3.415594
...          ...
6983    3.931667
6984    3.119883
6985    1.334036
6986    3.931763
6987    3.515196

[6988 rows x 1 columns]

In [269]:
items = pd.DataFrame(items, columns=['movieId'])

In [270]:
items

      movieId
0           0
1           1
2           2
3           3
4           4
...       ...
6983    13953
6984    13955
6985    13975
6986    13992
6987    13993

[6988 rows x 1 columns]

In [271]:
results = pd.concat([items, results], ignore_index=True, sort=False, axis=1)

In [273]:
results

          0         1
0         0  4.214615
1         1  3.606810
2         2  3.508782
3         3  3.319816
4         4  3.415594
...     ...       ...
6983  13953  3.931667
6984  13955  3.119883
6985  13975  1.334036
6986  13992  3.931763
6987  13993  3.515196

[6988 rows x 2 columns]

In [274]:
results.columns =['movieId', 'pre_rating']

In [275]:
results

      movieId  pre_rating
0           0    4.214615
1           1    3.606810
2           2    3.508782
3           3    3.319816
4           4    3.415594
...       ...         ...
6983    13953    3.931667
6984    13955    3.119883
6985    13975    1.334036
6986    13992    3.931763
6987    13993    3.515196

[6988 rows x 2 columns]

In [276]:
results_df = pd.DataFrame(np.nan, index=range(len(results)), columns=['pre_rating','movieId'])

In [277]:
results_df

      pre_rating  movieId
0            NaN      NaN
1            NaN      NaN
2            NaN      NaN
3            NaN      NaN
4            NaN      NaN
...          ...      ...
6983         NaN      NaN
6984         NaN      NaN
6985         NaN      NaN
6986         NaN      NaN
6987         NaN      NaN

[6988 rows x 2 columns]

In [278]:
for index, row in results.iterrows():
        results_df.loc[index] = [row['pre_rating'], ratings[ratings['movieId'] == row['movieId']].iloc[0]['movieId']]

In [279]:
results_df

      pre_rating  movieId
0       4.214615      0.0
1       3.606810      1.0
2       3.508782      2.0
3       3.319816      3.0
4       3.415594      4.0
...          ...      ...
6983    3.931667  13953.0
6984    3.119883  13955.0
6985    1.334036  13975.0
6986    3.931763  13992.0
6987    3.515196  13993.0

[6988 rows x 2 columns]

In [280]:
results_df= results_df.sort_values(by=['pre_rating'], ascending=False)

In [281]:
results_df

      pre_rating  movieId
6161    5.138682  10476.0
4827    5.042960   7093.0
5935    5.037367   9965.0
6616    4.982715  12013.0
6800    4.975094  12742.0
...          ...      ...
3143    1.502903   4012.0
6985    1.334036  13975.0
1347    1.285198   1694.0
2841    1.163361   3606.0
4306    0.434973   6098.0

[6988 rows x 2 columns]

In [282]:
results_df["movieId"]=results_df["movieId"].astype(int)

In [283]:
results_df

      pre_rating  movieId
6161    5.138682    10476
4827    5.042960     7093
5935    5.037367     9965
6616    4.982715    12013
6800    4.975094    12742
...          ...      ...
3143    1.502903     4012
6985    1.334036    13975
1347    1.285198     1694
2841    1.163361     3606
4306    0.434973     6098

[6988 rows x 2 columns]

In [284]:
results_df=pd.merge(results_df,movie_list,on="movieId")[:10]

In [285]:
results_df

,pre_rating,movieId,title,genres,rtPictureURL
0,5.042960,7093,"Front Page, The (1974)",Comedy,http://content9.flixster.com/movie/10/91/11/10...
1,4.966232,7170,My Baby's Daddy (2004),Comedy,http://content8.flixster.com/movie/26/67/26671...
2,4.960918,7813,FM (1978),Drama,http://content6.flixster.com/movie/26/43/26430...
3,4.889987,5608,"Das Experiment (Experiment, The) (2001)",Drama|Thriller,http://content7.flixster.com/movie/27/61/27619...
4,4.871102,8829,Benji: Off the Leash! (2004),Children|Drama,http://content9.flixster.com/movie/26/32/26322...
5,4.868045,3053,"Messenger: The Story of Joan of Arc, The (1999)",Drama|War,http://content6.flixster.com/movie/10/88/57/10...
6,4.856533,7838,"Internecine Project, The (1974)",Action|Thriller,http://content9.flixster.com/movie/10/95/79/10...
7,4.853911,8157,Jin Roh: The Wolf Brigade (Jin-Rô) (1998),Animation|Fantasy|Thriller,http://content6.flixster.com/movie/27/71/27710...
8,4.843448,7980,"Bridge Too Far, A (1977)",Action|Drama|War,http://content6.flixster.com/movie/25/70/25701...
9,4.842775,4957,Sudden Impact (1983),Crime|Thriller,http://content9.flixster.com/movie/10/88/98/10...